* {
    margin: 15 px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

.esconder {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
    background: #222;
    color: rgb(73, 63, 63);
    font-family: 'Courier New', Courier, monospace;
}

main {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: url("https://i.pinimg.com/originals/cc/a9/3f/cca93fc05528b1cd7e25c931273f6994.gif");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    background-color: aqua;
    border: none;
    color: rgb(23, 13, 136);
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    margin-bottom: 40px;
}


h1 {
    text-align: center;
    font-size: 3.75rem;
    margin: 0.625rem;
    
}

.centro {
    text-align: center;
    font-size: 1rem;
    margin: 0.625rem;
}

.level{
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.pergunt{
    display: flex;
    justify-content: center;  
}

.escolha{
    display:flexbox;
    justify-content: justify-content; 
    font-size: 50px;
}

.quiz-container {
    padding: 1.5rem;
    border: 1px solid white;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-bottom: 2rem;
    color: #191919;
}

.quiz{
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.questoes {
    padding: 1.5rem;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 2rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instrucoes {
    background: rgb(111, 215, 205);
    color: #191919;
    padding: 0.625rem;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.questoes {
    padding: 1.5rem;
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 2rem;
}